{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
{# meta #}
        <meta http-equiv="Content-Type" content="text/html; charset={% if _charset is defined %}{{ _charset }}{% else %}utf-8{% endif %}"/>
        <meta name="robots" content="{% if _robotindex is defined %}{{ _robotindex }}{% else %}noindex{% endif %},nofollow" />
        <meta charset="{% if _charset is defined %}{{ _charset }}{% else %}UTF-8{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{# title #}
        <title>{% block title %}Crassat Site{% endblock %}</title>
{# icon #}
{% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}
{# stylesheets #}
{% stylesheets filter='?yui_css' combine=true '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}
{% stylesheets filter='cssrewrite,?yui_css' combine=true '@base_css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}
{% block stylesheets %}{% endblock %}
{# javascripts #}
{% javascripts '../vendor/jquery/jquery/jquery-1.9.1.min.js' '@bootstrap_js' filter='?yui_js' combine=true %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45807436-1', 'crassat.com');
  ga('send', 'pageview');
</script>
{% block javascripts %}{% endblock %}
{# extension #}
{% block head %}{% endblock %}
    </head>

    <body data-spy="scroll" data-target=".navbar">
        {% block body %}
            Hello!
        {% endblock %}
    </body>

</html>